body{
    /*  フォントの種類  */
    font-family: -apple-system, BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

    /*  フォントのサイズ  */
    font-size: 32px;

    /*  フォントの色  */
    color: #333;

    /* カーニングの設定 */
    letter-spacing: 1.5px;

    /* 行間の設定 */
    line-height: 1.75;
}
ul{
    /*  フォントの種類  */
    font-family: -apple-system, BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

    /*  フォントのサイズ  */
    font-size: 25px;

    /*  フォントの色  */
    color: #333;

    /* カーニングの設定 */
    letter-spacing: 1.5px;

    /* 行間の設定 */
    line-height: 1.75;

    border: solid 2px skyblue;

    border-radius: 5px;

    padding: 0.5em 1em 0.5em 2.3em;

    position: relative;
}
li{
    /*  フォントの種類  */
    font-family: -apple-system, BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

    /*  フォントのサイズ  */
    font-size: 25px;

    /*  フォントの色  */
    color: #333;

    /* カーニングの設定 */
    letter-spacing: 1.5px;

    /* 行間の設定 */
    line-height: 1.75;

    text-align: left;


}
ul li{
    line-height: 1.5;

    padding: 0.5em 0;

    list-style-type: none!important;
}
ul li:before {/*疑似要素*/

    content: "\f138";/*アイコンの種類*/

    position: absolute;

    left : 1em;/*左端からのアイコンまでの距離*/

    color: skyblue;/*アイコン色*/
}
object {
    width: 100%;

    text-align: center;
}
div.law{
    text-align: left;
}
div {
    text-align: center;
}
header {
     padding:10px;
 }
footer{
    font-size: small;

    text-align: center;
}